<%= turbo_stream.append :repos_list do %>
  <% @repos&.each do |repo| %>
    <tr>
      <td><%= link_to repo['name'], repo['html_url'] %></td>
      <td><%= repo.dig('owner', 'login') %></td>
    </tr>
  <% end %>
<% end %>

<% if @next_page.present? %>
  <%= turbo_stream.replace :pagination do %>
    <%= turbo_frame_tag :pagination,
                        loading: :lazy,
                        src: repositories_path(format: :turbo_stream, page: @next_page.to_i, q: params[:q]) %>
  <% end %>
<% end %>

<% if @error.present? %>
  <%= turbo_stream.prepend 'repos-results' do %>
    <div class="alert alert-danger">
      <%= @error %>
    </div>
  <% end %>
<% end %>
